*{
    padding: 0;
    margin: 0;
    font-family: "Gilroy", sans-serif;
}

.slider{
    height: 100vh;
    position: relative;
}

.container{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s all;
    display: flex;
    flex-direction: column;
}

.slide{
    width: 100%;
    height: 100vh;
    display: none;
}
.text-slide{
    position: absolute;
    left: 150px;
    top: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    transform: translateY(-50%);
    animation: slide-text-animation 1s;
}
.slide-title{
    font-size: 46px;
    color: #fff;
}
.slide-descr{
    font-size: 26px;
    color: #fff;
    width: 600px;
}
.logo-text{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: relative;
    z-index: 2;
    padding-left: 10px;
}

.logo-text::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ab2eff;
    z-index: -1;
}

.slide-active{
    display: block;
}

.one{
    background: url("./Slide-bg/horizon.png") center center / cover no-repeat;
}
.two{
    background: url("./Slide-bg/nfs.png") center center / cover no-repeat;
}
.three{
    background: url("./Slide-bg/spintaires.png") center center / cover no-repeat;
}
.for{
    background: url("./Slide-bg/stalker.png") center center / cover no-repeat;
}

/* .one{} */
.navigation{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.navigation-quad{
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border: 3px solid #fff;
    transition: 0.2s all;
    cursor: pointer;
}

.navigation-quad:hover{
    background-color: #ffffff73;
}

.navigation-quad-active{
    background-color: #fff;
}

@keyframes slide-animation {
    0%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slide-text-animation {
    0%{
        left: 50px;
        opacity: 0;
    }
    100%{
        left: 150px;
        opacity: 1;
    }
}


